services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "5000"
    environment:
      - FLASK_APP=main.py
      - FLASK_RUN_HOST=0.0.0.0
      - DISPLAY=:99
    volumes:
      - translations-data:/docker-flask/translations

  nginx:
    env_file:
      - .env
    build:
      context: .
      dockerfile: nginx.Dockerfile
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - flask-app
    volumes:
      - ./etc/letsencrypt:/etc/letsencrypt

volumes:
  translations-data:
