services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5000:5000"
    expose:
      - "5000"
    volumes:
      - translations-data:/docker-flask/translations
    dns:
      - 1.1.1.1
      - 8.8.8.8

  more-flask:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "5000"
    volumes:
      - translations-data:/docker-flask/translations
    dns:
      - 1.1.1.1
      - 8.8.8.8
    profiles:
      - workers

  nginx:
    env_file:
      - .env
    build:
      context: .
      dockerfile: nginx.Dockerfile
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - flask-app
    volumes:
      - ./etc/letsencrypt:/etc/letsencrypt
    dns:
      - 1.1.1.1
      - 8.8.8.8

volumes:
  translations-data:
