body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 15px 0 0 0;
    padding: 2em;
    background-color: #F4F4F4;
    color: #191A1A;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content {
    white-space: pre-wrap;
    padding: 15px;
    max-width: min(95%,1200px);
    box-sizing: border-box;
    transform-origin: top center;
    font-size: 1.2rem;
    line-height: 160%;
}

@media (max-width: 600px) {
    body {
        padding: 0em;
    }

    .content {
        width: 100%;
        font-size: 1.2rem;
        line-height: 160%;
        padding: 5px;
        max-width: 100%;
    }
}

.dark-mode {
    background-color:#0D1117;
    color:#F0F6FC;
}

.lightdark {
    width: 40px;
    height: 40px;
    display: block;
}

button, form, select {
    border-radius: 10px;
    border: 0px;
    background-color: #f0f0f0;
}

select, button {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

