body {
    display: inline-flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 2em;
    background-color: #F4F4F4;
    color: #191A1A;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.content {
    white-space: pre-wrap;
    padding: 15px;
    max-width: min(95%,1200px);
    box-sizing: border-box;
    transform-origin: top center;
    font-size: 1.2rem;
    line-height: 160%;
}

@media (max-width: 600px) {
    body {
        padding: 0em;
    }

    .content {
        width: 100%;
        font-size: 1.2rem;
        line-height: 160%;
        padding: 5px;
        max-width: 100%;
    }
}

.dark-mode {
    background-color:#0D1117;
    color:#F0F6FC;
}

.lightdark {
    width: 40px;
    height: 40px;
    display: block;
}

button, form, select {
    border-radius: 10px;
    border: 0px;
    background-color: #f0f0f0;
}

select, button {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.selectors {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

#fontSelector {
    position: absolute;
    right: 100%;
    margin-right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#fontSizeSelector {
    position: absolute;
    left: 100%;
    margin-left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.middle {
    position: relative;
    width: 100%;
    height: 50px;
}

#chapterForm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#prevChapter,#prevChapterBottom {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-90%);
}

#nextChapter,#nextChapterBottom {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(110%);
}
